.video-panel {
    box-sizing: border-box;
    padding: 2vh 8vw 2vh 8vw;
}

.video-grid {
    /* margin: 2rem; */
}

.video-tab {
    /* height: 10rem; */
    box-sizing: border-box;
    /* background-color: lightgreen; */
    /* border: 2px solid green; */
    /* vertical-align: middle;
    align-items: center; */
}

.video-card {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* color:white; */
}

.video-card-thumbnail {
    border-radius: 8px;
}

.video-card-thumbnail:hover {
    filter: brightness(0.6);
}

.video-card-timestamp {
    align-self: flex-start;
}

.video-card-timestamp:hover {
    color: lime;
}

.video-card-title {
    align-self: flex-start;
    text-align: left;
}

.video-card-title:hover {
    color: yellow;
}

.video-thumbnail {
    height: 8rem;
    width: 100%;
    object-fit: fill;
}